.main {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 3vh;
    background: linear-gradient(to bottom, #0466c2, #6b5b95);
    border-radius: 1vh;
  }
  
.school_image {
    width: 30vh;
    margin-left: auto;
    margin-right: auto;
    animation: bounce 1.3s infinite alternate;
}
  
@keyframes bounce {
    0% {
      transform: translateY(15);
    }
    100% {
      transform: translateY(-5px); /* Измените это значение для желаемой высоты подъема */
    }
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 900;
}

.title {
    color:white;
    font-size: 3vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 70vh;
}

.main_info {
  display: flex;
  flex-direction: row;
  margin: 1vh;
}

.a_school_image {
  margin-right: auto;
  margin-left: auto;
}